


<div class="row">
  <div class="col-sm-6">
    <h1>Video_clips</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_video_clip_path, class: 'btn btn-primary' do %>
    Add New Video clip
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @video_clips.each do |video_clip| %>
        <%= content_tag :tr, id: dom_id(video_clip), class: dom_class(video_clip) do %>
          

          
          
            <td><%= link_to 'Show', video_clip %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
